@tailwind base;
@tailwind components;
@tailwind utilities;

li.active{
    background-color: black;
    color: white;
}
html.dark li.active{
  background-color: white;
  color: black;
}
iframe{
border-radius:12px;}
#werkervaring-list li:first-of-type{
  margin-left: 20px;
}
