@tailwind base;
@tailwind components;
@tailwind utilities;

li.active {
  background-color: black;
  color: white;
}
html.dark li.active {
  background-color: white;
  color: black;
}

iframe {
  border-radius: 12px;
}
#werkervaring-list li:first-of-type {
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
}

div p {
  margin: revert;
  margin: 8px 0px;
}

div p a {
  text-decoration: underline;
}

#blog-content h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}

#blog-content hr {
  margin: 15px 0px;
}

pre {
  overflow: scroll;
}
