---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Werkervaring - Evi Wammes" description="Bekijk mijn werkervaring van de afgelopen jaren.">
	<main class="text-center text-stone-800 dark:text-stone-100">
		<h1 class="text-5xl font-bold mb-5">Werkervaring</h1>
		<ul class="werkvaring-list space-y-5 space-x-5 border-l-[3px] dark:border-white border-solid border-black text-left mx-10">
			<li class="list-item ml-5 ">
				<figure class=" w-4 h-4 bg-black rounded-full absolute -ml-[1.85rem] dark:bg-white"></figure>
				<h3 class="text-xl">Webdesign & Webdevelopment (als ZZP'er)</h3>
				<h4 class="text-lg">Eigenaar - <a class="text-lg hover:underline" href="https://webchange.nl" aria-label="Evi Wammes doet Webdesign & Webdevelopment bij WebChange, haar bedrjf." target="_blank">WebChange</a></h4>
				<span class="text-base opacity-60 font-bold">jan. 2023 - heden</span>
			</li>
			<li>
				<figure class="w-4 h-4 bg-black rounded-full absolute -ml-[1.85rem] dark:bg-white"></figure>
				<h3 class="text-xl">Vrijwilligerswerk: Genderpraatjes</h3>
				<h4 class="text-lg hover:underline underline-offset-4"><a href="https://genderpraatjes.nl/" target="_blank">Genderpraatjes / COC</a></h4>
				<span class="text-base opacity-60 font-bold">mrt. 2022 - heden</span>
			</li>
			<li >
				<figure class=" w-4 h-4 bg-black rounded-full absolute -ml-[1.85rem] dark:bg-white"></figure>
				<h3 class="text-xl">ICT Servicedesk Medewerker, en Wordpress developer</h3>
				<h4 class="text-lg hover:underline underline-offset-4"><a href="https://compushare.nl/" target="_blank">CompuShare Automatiseringsoplossingen</a></h4>
				<span class="text-base opacity-60 font-bold">feb. 2021 - heden</span>
			</li>
			<li >
				<figure class=" w-4 h-4 bg-black rounded-full absolute -ml-[1.85rem] dark:bg-white"></figure>
				<h3 class="text-xl">Vulploegmedewerker</h3>
				<h4 class="text-lg hover:underline underline-offset-4"><a href="https://www.jumbo.com/winkel/veenendaal/jumbo-veenendaal-huibers-petenbos" target="_blank">Jumbo Huibers Veenendaal</a></h4>
				<span class="text-base opacity-60 font-bold">jun. 2018 - jan. 2022</span>
			</li>
		  </ul>
	</main>
</Layout>
