---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import brainnovation_screenshot from '../../assets/brainnovation.webp'
---
<Layout title='Brainnovation - Evi Wammes'>
    <main class="grid grid-cols-3 auto-rows-min justify-start text-left dark:text-white h-full z-0 mt-5 pb-10 w-4/5 lg:w-3/5 2xl:w-4/12">
        <h1 class="text-3xl sm:text-5xl pb-5 row-start-1 col-span-full">Brainnovation</h1>
        <span class="hidden lg:block w-fit row-start-2 col-start-1 colstext-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Wordpress</span>
        <span class="hidden lg:flex w-fit row-start-2 col-start-2 text-sm opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1 justify-self-center items-center">Ontwerp & Development</span>
        <span class="row-start-2 col-span-1 lg:col-start-3 text-base opacity-70 text-left sm:text-right"><a href="https://brainnovation.nl" target="_blank">Brainnovation.nl</a></span>
        <p class="text-lg row-start-3 sm:mt-4 col-span-full">
            Brainnovation wou een nieuwe website laten bouwen in Wordpress. Ze wilden een tool aanbieden waarmee het niveau van creativiteit bij individuen gemeten kan worden. Ze hadden een goed beeld van hun wensen en leverden de vragen aan voor de quiz die ze op hun website wilden zien.</p>
            <br aria-hidden="true"><br aria-hidden="true">
            <Image src={brainnovation_screenshot} alt="Screenshot van de website Brainnovation" class="w-full rounded-2xl row-start-4 my-5 col-span-full lg:col-span-2" />
            <p class="text-lg row-start-5 col-span-full">
                De website van Brainnovation is gemaakt met Elementor, dit was vanuit hun gewenst omdat ze zelf nog wijzigingen wouden doorvoeren nadat de website live is gebracht. Helaas heb ik niet meer de schetsen van de website, maar het eindresultaat kan op hun website worden bekeken.
            </p>
            
    </main>
</Layout>