---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import guust_screenshot from '../../assets/guust.webp'
---
<Layout title='Guust Meubelmakerij - Evi Wammes'>
    <main class="grid grid-cols-3 auto-rows-min justify-start text-left dark:text-white h-full z-0 mt-5 pb-10 w-4/5 lg:w-3/5 2xl:w-4/12">
        <h1 class="text-3xl sm:text-5xl pb-5 row-start-1 col-span-full">Guust® Meubelmakerij</h1>
        <span class="hidden lg:block w-fit row-start-2 col-start-1 colstext-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Wordpress</span>
        <span class="hidden lg:block w-fit row-start-2 col-start-2 text-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1 justify-self-center">Ontwerp & Development</span>
        <span class="row-start-2 col-span-2 lg:col-start-3 text-base opacity-70 text-left sm:text-right"><a href="https://guust-meubelmakerij.nl/" target="_blank">Guust-meubelmakerij.nl</a></span>
        <p class="text-lg sm:mt-5 row-start-4 col-span-full">
            Richard van Guust® Meubelmakerij stuude me een bericht via Fiverr omdat hij een nieuwe Wordpress website wou. Hij had zelf al meerdere pogingen gedaan om goede websites te maken voor zijn bedrijf, en dat ging nog best goed. Maar toch koos hij ervoor om een website te laten maken. Hij kwam met voorbeelden waar hij graag naar toe wou werken met zijn website. Hij leverde ook zelf de teksten en foto's aan die we konden gebruiken voor de website.</p>
        <Image src={guust_screenshot} alt="Screenshot van de website Guust Meubelmakerij" class="w-full rounded-2xl row-start-5 my-5 col-span-full lg:col-span-2" />
        <p class="text-lg row-start-6 col-span-full">Eerst ging ik aan de slag met schetsen op papier, en nadat ik een goed idee voor me had, ging ik bouwen in Elementor (Wordpress). Toen de eerste versie van de website klaar was stuurde ik deze naar hem door, en er hoefde eigenlijk weinig aangepast te worden. Hij was al super tevreden met het resultaat. Vervolgens plande we een datum om de website live te zetten, en overlegde en een onderhoudsabonnement. Nu is de website al een tijd live en kreeg hij complimenten over zijn nieuwe website.    
        </p>
    </main>
</Layout>