---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import heartfelt_screenshot from '../../assets/Heartfelt.webp'
---
<Layout title='Zonwering Apeldoorn - Evi Wammes'>
    <main class="grid grid-cols-3 auto-rows-min justify-start text-left dark:text-white h-full z-0 mt-5 pb-10 w-4/5 lg:w-3/5 2xl:w-4/12">
        <h1 class="text-3xl sm:text-5xl mb-7 row-start-1 col-span-full">Heartfelt Equine Bodywork</h1>
        <span class="hidden lg:block w-fit row-start-2 col-start-1 colstext-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Wordpress</span>
        <span class="hidden lg:block w-fit row-start-2 col-start-2 text-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Ontwerp & Development</span>
        <span class="row-start-2 col-start-1 lg:col-start-3 text-base opacity-70 text-left sm:text-right"><a href="https://heartfeltequinebodywork.nl/" target="_blank">Heartfeltequinebodywork.nl</a></span>
        <p class="text-lg sm:mt-5 row-start-4 col-span-full">
            Monika van Heartfelt Equine Bodywork nam contact met me op via Fiverr, ze biedt verschillende diensten aan voor de paarden van klanten. Ze heeft een mooi persoonlijk verhaal, die je kan terugvinden op de website. Ze is net pas begonnen met haar bedrijf, en wou een website hiervoor laten maken. We hadden overlegd hoe Monika het voor haar zag, en ik begon aan de eerste versie van de website. Helaas heb ik niet meer de orginele schetsen, maar het eindresultaat kan worden bekeken op de website van heartfelt.
        <Image src={heartfelt_screenshot} alt="Screenshot van de website Heartfelt Equine Bodywork" class="rounded-2xl row-start-5 my-5 col-span-full lg:col-span-2" />
        <p class="text-lg row-start-6 col-span-full">     
        </p>
    </main>
</Layout>