---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import portfolio_screenshot from '../../assets/portfolio_screenshot.webp'
---
<Layout title='Portfolio - Evi Wammes'>
    <main class="grid grid-cols-3 auto-rows-min justify-start text-left dark:text-white h-full z-0 mt-5 pb-10 w-4/5 lg:w-3/5 2xl:w-4/12">
        <h1 class="text-3xl sm:text-5xl pb-5 row-start-1 col-span-full">Portfolio</h1>
        <span class="hidden lg:block w-fit row-start-2 col-start-1 col-end-3 colstext-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1 hover:scale-95"><a href="https://astro.build" target="_blank">Astro.build & Tailwindcss</a></span>

        <span class="row-start-2 col-span-1 lg:col-start-3 text-base opacity-70 text-left sm:text-right">eviwammes.amsterdam</span>
        <p class="text-lg sm:mt-5 row-start-4 col-span-full">
            <span class="text-xl font-bold">Versie 2</span><br aria-hidden="true">
            Ondertussen is dit de tweede versie van mijn portfolio, in de eerste versie had ik mijn portfolio gebouwd in Nuxtjs, maar dat was een beetje overdreven voor mijn portfolio. Ook omdat ik had gelezen over <a href="https://astro.build" target="_blank" class="underline" aria-label="Open de website van Astro.build">Astro.build<a/>, een framework dat beloofd tot wel 2x sneller te zijn dan Nuxt. Ook kan je alle componenten uit React of Vue meenemen naar Astro. Ondertussen had ik ook meer geleerd over betere semantische HTML, waarbij ik dit meteen als een kans zag om mijn portfolio ook hierin te verbeteren. <br aria-hidden="true"><br aria-hidden="true">In de vorige versie waren er nog een paar problemen met het navigatie menu op de mobiel, het werkte wel, maar zag er nog niet goed genoeg uit. Ik heb het volledige menu herschreven en meteen goed responsive gemaakt.<br aria-hidden="true"><br aria-hidden="true">Ook is de "Over Mij' pagina nieuw, en heb ik gekozen om een andere lettertype te gebruiken om de leesbaarheid te verbeteren. 
        </p>
        <p class="text-lg sm:mt-5 row-start-5 col-span-full">
            <span class="text-xl font-bold">Versie 1</span><br aria-hidden="true">
            Als eerst; Welkom op mijn portfolio website! Ik vond het erg leuk om deze website te maken. Het was er ook echt tijd voor; Aangezien ik al wel websites bouw voor klanten, en ik nog geen eigen website had.<br aria-hidden="true">Het was tijd voor een eigen website, eigenlijk alle websites die ik heb gebouwd (voor klanten) zijn gebouwd in Wordpress met Elementor, en natuurlijk een klein gedeelte CSS/JS. Maar ik wou graag iets nieuws leren, ik wou eigenlijk weg stappen van de standaard bouw-blokken als Wordpress en dergelijke tools, en het meer zelf te programmeren, omdat ik dat ook erg leuk vindt om te doen. <br aria-hidden="true"><br aria-hidden="true">Ik had al ervaring met HTML, CSS, JS (en een klein beetje Python, en PHP), maar ik kwam achter technologieën als Vue, en Nuxt3, ik ben verbaasd wat het allemaal zou kunnen. Ik volgde een online cursus en besloot aan de slag te gaan (veel leuker dan een cursus volgen). <br aria-hidden="true"><br aria-hidden="true">Eerst zat ik na te denken om Bootstrap te gebruiken om het CSS proces makkelijker te maken, maar ik zag online dat veel mensen meer gebruik maakte van TailwindCSS, en minder 'bloat' heeft. Dit was dan ook een nieuwe techniek voor mij om te leren.</p>
        <Image src={portfolio_screenshot} alt="Screenshot van mijn portfolio" class="w-full rounded-2xl row-start-6 my-5 col-span-full lg:col-span-2" />
        <p class="text-lg row-start-7 col-span-full">Ik ben erg blij met het uiteindelijke resultaat, en wil meer websites gaan bouwen met Vue, ik ben van plan om eigen Wordpress themes te gaan bouwen, en om me meer te verdiepen in een headless-cms opzet.     
        </p>
    </main>
</Layout>