---
import Layout from '../../layouts/Layout.astro'
import webchangedashboard from '../../assets/webchange-dashboard.webp'
import { Image } from 'astro:assets'
import dashboard from '../../assets/dashboard.webp'
import valleibloemen from '../../assets/valleibloemen.webp'

---
<Layout title='Valleibloemen - Project'>
    <main class="grid grid-cols-3 auto-rows-min justify-start text-left dark:text-white h-full z-0 mt-5 pb-10 w-4/5 lg:w-3/5 2xl:w-4/12">
        <h1 class="text-3xl sm:text-5xl mb-7 row-start-1 col-span-full">Valleibloemen</h1>
        <span class="hidden lg:block w-fit row-start-2 col-start-1 colstext-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Wordpress</span>
        <span class="hidden lg:flex items-center w-fit row-start-2 col-start-2 text-base justify-self-center opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Development</span>
        <span class="row-start-2 col-start-1 lg:col-start-3 text-base opacity-70 text-left sm:text-right"><a href="https://valleibloemen.nl" target="_blank">Valleibloemen.nl</a></span>
        <p class="text-lg sm:mt-5 row-start-4 col-span-full">
            Dit project heb ik gekregen van mijn werk bij CompuShare, het ontwerp voor de website was al gemaakt, de bedoeling was dat ik het ontwerp ging omzetten in een werkende website. Ik had gekozen om gebruik te maken van Wordpress met Elementor omdat ik op het moment van maken ook nog niet genoeg kennis had om dit zelf te coderen. Valleibloemen is een webshop voor bloemen, en de bloemen kunnen ook als cadeau worden besteld.
        <Image src={valleibloemen} alt="Screenshot van Valleibloemen" class="bg-sky-600 dark:bg-sky-950 rounded-2xl row-start-5 my-5 col-span-full lg:col-span-2" />
    </main>
</Layout>