---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import zonwering_screenshot from '../../assets/zonwering_screenshot.webp'
---
<Layout title='Zonwering Apeldoorn - Evi Wammes'>
    <main class="grid grid-cols-3 auto-rows-min justify-start text-left dark:text-white h-full z-0 mt-5 pb-10 w-4/5 lg:w-3/5 2xl:w-4/12">
        <h1 class="text-3xl sm:text-5xl mb-7 row-start-1 col-span-full">Zonwering Apeldoorn</h1>
        <span class="hidden lg:block w-fit row-start-2 col-start-1 colstext-base opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Wordpress</span>
        <span class="hidden lg:flex items-center w-fit row-start-2 col-start-2 text-sm opacity-80 text-left bg-white dark:bg-cyan-700 dark:opacity-100 dark:text-white text-black p-1 rounded-full px-5 -mt-1">Ontwerp & Development</span>
        <span class="row-start-2 col-start-1 lg:col-start-3 text-base opacity-70 text-left sm:text-right"><a href="https://zonweringapeldoorn.nl" target="_blank">Zonweringapeloorn.nl</a></span>
        <p class="text-lg sm:mt-5 row-start-4 col-span-full">
          Zonwering Apeldoorn kwam met de vraag om een nieuwe website te laten bouwen in Wordpress, ze hadden al een website in Wix, maar ze waren hier niet tevreden mee. Ze wouden een website dat ze beter vonden passen bij hun bedrijf. Ze wouden graag "Luxe" uitstralen, en kwamen zelf al met teksten aan voor de website. <br aria-hidden="true"><br aria-hidden="true">Omdat ze graag een luxere uitstraling wouden, had ik gekozen voor een aparte cursor, en een luxere lettertype, ook heb ik gekozen voor titels op de website die een gevoel meegeven.</p>
        <Image src={zonwering_screenshot} alt="Screenshot van de website Zonwering Apeldoorn" class="w-full rounded-2xl row-start-5 my-5 col-span-full lg:col-span-2" />
        <p class="text-lg row-start-6 col-span-full">De website is gebouwd in Wordpress, met Elementor, omdat ze de wens hadden om zelf de website te kunnen aanpassen. In de tijd dat ik deze website ging bouwen wist ik ook nog niet veel af van een headless wordpress opzet, waar ik nu eerder zou voor kiezen.<br aria-hidden="true"><br aria-hidden="true">Ik heb het ontwerp en de bouw van deze website gedaan, ik heb helaas niet meer de schetsen van tijdens de bouw van de website.
        </p>
    </main>
</Layout>